@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-paper {
    background-color: #fdf8e4;
    background-image: url("https://www.transparenttextures.com/patterns/white-diamond.png");
    background-size: 4px 4px;
  }
}
