@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tambahan untuk gaya kertas */
.bg-paper {
  background-color: #fdfdfd; /* Warna dasar seperti kertas */
  background-size: 150px 150px; /* Ukuran pola */
  background-image: url('https://www.transparenttextures.com/patterns/white-dots.png');
}
