@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .bg-paper {
    background-color: #fdf8e4;
    background-image: url("/public/paper-texture.jpg"); /* Ubah ke URL lokal jika diperlukan */
    background-size: 250px 100px 10px;
  }
}
